{% extends 'admin/admin.html.twig' %}

{% block title "Recette : " ~ recipe.title %}

{% block body %}
<div class="container my-4">
    <div class="card shadow-lg border-dark" style="background-color: #f1f1f1;">
        <div class="card-header text-white" style="background-color: #007bff;">
            <h4 class="card-title">Modifier la recette : {{ recipe.title }}</h4>
        </div>
        <div class="card-body" style="background-color: #ffffff;">
            <form method="post">
                {{form_start(form)}}
                <div class="mb-3">
                    {{ form_row(form.title, { 'attr': {'class': 'form-control border-dark'} }) }}
                </div>
                
                <div class="mb-3">
                    {{ form_row(form.category, { 'attr': {'class': 'form-select border-dark'} }) }}
                </div>

                <div class="mb-3">
                    {{ form_row(form.content, { 'attr': {'class': 'form-control border-dark', 'rows': '5'} }) }}
                </div>

                <button type="submit" class="btn btn-success" style="background-color: #28a745; border-color: #218838;">
                    <i class="fas fa-check"></i> Mettre à jour la recette
                </button>
                {{form_end(form)}}
            </form>
        </div>
    </div>
    <br>
    <div class="card-footer text-end">
        <a class="btn btn-primary btn-sm" href="{{ path('admin.recipe.index') }}">
            <i class="fas fa-arrow-left"></i> Retourner à la liste des recettes
        </a>
    </div>
</div>
{% endblock %}
